<section id="captures">
   <div class="section-header">
     <h3 class="section-title">Captures</h3>
   </div>

   <div class="capture_row row-full">
     <img src="https://media-rockstargames-com.akamaized.net/mfe2/sites-gta-trilogy/035f473/img/ff284e208b96afaf5e89.jpg"
          alt="sigma gta rp picture 1">
   </div>
  <div class="capture_row third-right">
    <img src="https://media-rockstargames-com.akamaized.net/mfe2/sites-gta-trilogy/035f473/img/d31bd91f2973e4005066.jpg"
         alt="sigma gta rp picture 1">
    <img src="https://media-rockstargames-com.akamaized.net/mfe2/sites-gta-trilogy/035f473/img/6bb1401a759b8e20f913.jpg"
         alt="sigma gta rp picture 1">
  </div>
  <div class="capture_row double">
    <img src="https://media-rockstargames-com.akamaized.net/mfe2/sites-gta-trilogy/035f473/img/d31bd91f2973e4005066.jpg"
         alt="sigma gta rp picture 1">
    <img src="https://media-rockstargames-com.akamaized.net/mfe2/sites-gta-trilogy/035f473/img/6bb1401a759b8e20f913.jpg"
         alt="sigma gta rp picture 1">
  </div>
  <div class="capture_row third-left">
    <img src="https://media-rockstargames-com.akamaized.net/mfe2/sites-gta-trilogy/035f473/img/d31bd91f2973e4005066.jpg"
         alt="sigma gta rp picture 1">
    <img src="https://media-rockstargames-com.akamaized.net/mfe2/sites-gta-trilogy/035f473/img/6bb1401a759b8e20f913.jpg"
         alt="sigma gta rp picture 1">
  </div>
</section>
