<section id="captures">
  <div class="section-header">
    <h3 class="section-title">{{ captureSection.title }}</h3>
  </div>

  <template v-for="(row, index) in captureSection.media" v-if="(index + 1) <= captureSection.max">
    <div class="capture_row row-full" v-if="row.type === 'image'" style="max-height: 35rem">
      <img :src="row.url" :alt="`sigma gta rp picture ${index}`" :key="index">
    </div>

    <div class="capture_row" v-if="row.type !== 'image'" :class="row.type" :key="index">
      <img v-for="(image, imageIndex) in row.images" :key="imageIndex"
           :src="image.url" :alt="`sigma gta rp picture ${index}-${imageIndex}`">
    </div>
  </template>
</section>
