<template>
  <section id="touches">
    <el-card class="touche-card" shadow="always">
      <div slot="header" class="clearfix">
        <h2 class="touches_category--title">Touches générales IG</h2>
      </div>

      <div class="touches-list">
        <div v-for="n in 10" class="touche-item">
          Menu <span class="touche">f5</span>
        </div>
      </div>
    </el-card>
    <el-card class="touche-card" shadow="always">
      <div slot="header" class="clearfix">
        <h2 class="touches_category--title">Touches générales IG</h2>
      </div>

      <div class="touches-list">
        <div v-for="n in 10" class="touche-item">
          Menu <span class="touche">f5</span>
        </div>
      </div>
    </el-card>
    <el-card class="touche-card" shadow="always">
      <div slot="header" class="clearfix">
        <h2 class="touches_category--title">Touches générales IG</h2>
      </div>

      <div class="touches-list">
        <div v-for="n in 10" class="touche-item">
          Menu <span class="touche">f5</span>
        </div>
      </div>
    </el-card>
  </section>

</template>
