//NotoSansJP
@font-face {
  font-family: "NotoSansJP";
  src: url("../public/fonts/NotoSansJP/NotoSansJP-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "NotoSansJP";
  src: url("../public/fonts/NotoSansJP/NotoSansJP-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "NotoSansJP";
  src: url("../public/fonts/NotoSansJP/NotoSansJP-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "NotoSansJP";
  src: url("../public/fonts/NotoSansJP/NotoSansJP-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
