@font-face {
  font-family: "gordita";
  src: url("../public/fonts/gordita/gordita-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gordita";
  src: url("../public/fonts/gordita/gordita-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
