//HelveticaNowText
@font-face {
  font-family: "HelveticaNowText";
  src: url("../public/fonts/HelveticaNowText/HelveticaNowText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "HelveticaNowText";
  src: url("../public/fonts/HelveticaNowText/HelveticaNowText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "HelveticaNowText";
  src: url("../public/fonts/HelveticaNowText/HelveticaNowText-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "HelveticaNowText";
  src: url("../public/fonts/HelveticaNowText/HelveticaNowText-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
