<nav class="navWrapper">
    <div id="menu" :class="{ active: isActive }">
      <el-menu mode="horizontal" @select="handleSelect" :router="true" class="navbar_list">
        <el-menu-item id="logo" index="/" :route="{ name: 'Root'}">
          <Logo/>
        </el-menu-item>
        <el-menu-item index="/hello" :route="{ name: 'Hello' }">
          Hello
        </el-menu-item>
        <el-menu-item index="/projects" :route="{ name: 'Projects' }">
          Projects
        </el-menu-item>
        <el-menu-item index="/about" :route="{ name: 'About' }">
          About
        </el-menu-item>
        <el-menu-item index="/contact" :route="{ name: 'Contact' }">
          Contact
        </el-menu-item>
      </el-menu>
    </div>
    <div id="toggle" @click="select()">
      <div class="span" id="top" :class="{ active: isActive }"></div>
      <div class="span" id="middle" :class="{ active: isActive }"></div>
      <div class="span" id="bottom" :class="{ active: isActive }"></div>
    </div>
</nav>
