$navHeight: 60px;

#logo {
  padding: 12px;
}


.swiper {
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  .menu {
    min-width: 100px;
    width: 70%;
    max-width: 320px;
    background-color: var(--nav-background) !important;
    color: #fff;
  }

  .content {
    width: 100%;
  }

  .menu-button {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    height: 34px;
    background-color: var(--primary);

    .bar {
      position: relative;
      display: block;
      width: 50px;
      height: 5px;
      margin: 10px auto;
      background-color: #fff;
      border-radius: 10px;
      transition: .3s;

      &:nth-of-type(1) {
        margin-top: 0px;
      }
      &:nth-of-type(3) {
        margin-bottom: 0px;
      }
    }

    &:hover {
      .bar:nth-of-type(1) {
        transform: translateY(1.5px) rotate(-4.5deg);
      }
      .bar:nth-of-type(2) {
        opacity: .9;
      }
      .bar:nth-of-type(3) {
        transform: translateY(-1.5px) rotate(4.5deg);
      }
    }

    &.opened {
      .bar:nth-of-type(1) {
        transform: translateY(15px) rotate(-45deg);
      }
      .bar:nth-of-type(2) {
        opacity: 0;
      }
      .bar:nth-of-type(3) {
        transform: translateY(-15px) rotate(45deg);
      }

      &:hover {
        .bar:nth-of-type(1) {
          transform: translateY(13.5px) rotate(-40.5deg);
        }
        .bar:nth-of-type(2) {
          opacity: .1;
        }
        .bar:nth-of-type(3) {
          transform: translateY(-13.5px) rotate(40.5deg);
        }
      }
    }
  }
}
