$breakpoints: (xs: 400px, sm: 768px, md: 1024px, lg: 1920px, xl: 2560px);

@media (min-width: 0px) {
  :root {
    --root-font-size: 16px;
  }
}

//min
@media (min-width: map-get($breakpoints, "sm")) {
  :root {
    --header-font-size: var(--font-size-5);
    --root-font-size: 18px;
  }
}

@media (min-width: map-get($breakpoints, "md")) {
  :root {
    --root-font-size: 20px;
  }
}



@media (min-width: map-get($breakpoints, "lg")) {
  :root {
    --image-grid-gap: var(--grid-gap-static-sm);
  }
}

@media (min-width: map-get($breakpoints, "xl")) {
  :root {
    --header-font-size: 1.35vw;
    --body-font-size: 0.85vw
  }
}
@media (max-width: map-get($breakpoints, "sm")) {
  :root {
    --section-padding: var(--grid-gap-static-md);
  }

  .buttons {
    gap: var(--grid-gap-static-md);
    flex-direction: column;

    a, button {
      overflow: hidden;
      width: 100%;
    }

    button {
      font-size: var(--font-size-3);
      line-height: 22px;
      padding: 1rem 2rem;
    }
  }

  .links-wrapper {
    a {
      max-width: 75vw;
    }
  }

}

@media (max-width: map-get($breakpoints, "xs")) {
  :root {
    --section-padding: var(--grid-gap-static-sm);
    --font-size-3: 0.9rem;
  }
  .links-wrapper {
    a {
      max-width: 70vw;
    }
  }
}
