$breakpoints: (xs: 400px, sm: 768px, md: 1024px, lg: 1920px, xl: 2560px);

@media (min-width:0px) {
  :root {
    --root-font-size:16px;
  }
}

//min

@media (min-width: map-get($breakpoints, "sm")) {
  :root {
    --header-font-size: var(--font-size-5);
    --root-font-size:18px;
  }
}

@media (min-width: map-get($breakpoints, "md")) {
  :root {
    --root-font-size:20px;
  }
}

@media (min-width: map-get($breakpoints, "lg")) {
  :root {
    --image-grid-gap: var(--grid-gap-static-sm);
  }
}

@media (min-width: map-get($breakpoints, "xl")) {
  :root {
    --header-font-size: 1.35vw;
    --body-font-size: 0.85vw
  }
}

//max
@media (max-width: map-get($breakpoints, "sm")) {
  :root {
    --section-padding: var(--grid-gap-static-md);
  }
}
@media (max-width: map-get($breakpoints, "xs")) {
  :root {
    --section-padding: var(--grid-gap-static-sm);
  }
}
