:root {
  --swiper-theme-color: var(--primary) !important;
}

.swiper-nav_drawer .swiper-wrapper {
  transform: translate3d(-320px, 0, 0);

  .menu-button {
    z-index: 1200;
  }
}

.swiper {
  overflow: unset;
  width: 100%
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  --swiper-pagination-color: hsla(0, 0%, 100%, .85);
  --swiper-pagination-bullet-inactive-color: hsla(0, 0%, 100%, .5);
  --swiper-pagination-bullet-horizontal-gap: 0.35rem;
  bottom: -2.5rem
}

.swiper-wrapper {
  width: 100%
}
